In [2]:
# !pip install pandas
import pandas as pd

In [9]:
df = pd.read_csv('icd.csv', delimiter=';',header=None)

In [7]:
df

                     0        1
0         Arterienriss   I77.2
1  Harnblaseninfektion   N30.9
2     Klaviculafraktur  S42.00
3         Ovarialzyste   N83.2
4      Schädelprellung  S00.95
5  Schenkelhalsfraktur  S72.00
6  Zungengrundkarzinom      C01